*,
div {
  box-sizing: border-box;
}
body {
  width: 100%;
}
a {
  text-decoration: none;
}
* {
  cursor: default;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto.ttf");
}
@font-face {
  font-family: Roboto-bold;
  src: url("../fonts/Roboto-bold.ttf");
}
@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans.ttf");
}
.main-container {
  margin: 0 auto;
  width: 95%;
  /*width: 1172px;*/
}
@media (min-width: 1800px) {
  .main-container {
    width: 1172px;
  }
}
@media (max-width: 992px) {
  .main-container {
    width: 98%;
  }
}
header {
  height: 86px;
}
.header-line {
  position: absolute;
  top: 86px;
  width: 100%;
  height: 3px;
  background: #dcb378;
}
@media (max-width: 1200px) {
  .header-line {
    top: 66px;
  }
}
@media (max-width: 768px) {
  .header-line {
    top: 40px;
  }
}
.header-logo {
  width: 263px;
  margin-top: 3px;
  margin-right: 60px;
}
@media (max-width: 1300px) {
  .header-logo {
    margin-right: 45px;
  }
}
@media (max-width: 1200px) {
  .header-logo {
    margin-right: 5px;
  }
}
@media (max-width: 992px) {
  .header-logo {
    width: 80px;
    margin-right: 0;
  }
}
@media (max-width: 1300px) {
  .header-logo img {
    width: 220px;
  }
}
@media (max-width: 1200px) {
  .header-logo img {
    width: 160px;
  }
}
@media (max-width: 992px) {
  .header-logo img {
    width: 80px;
  }
}
.nav {
  width: 693px;
}
@media (max-width: 1300px) {
  .nav {
    width: 670px;
  }
}
@media (max-width: 1200px) {
  .nav {
    width: 625px;
  }
}
@media (max-width: 992px) {
  .nav {
    width: 510px;
  }
}
.nav a {
  font-family: Roboto;
  color: #5b5b5b;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0;
}
@media (max-width: 1200px) {
  .nav a {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .nav a {
    font-size: 12px;
  }
}
.header-phone a,
.header-modal a {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .header-phone a,
  .header-modal a {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .header-phone a,
  .header-modal a {
    font-size: 12px;
    margin-left: 20px;
  }
}
.header-modal a {
  color: #c6a16e;
}
@media (max-width: 768px) {
  .header-mobile {
    display: none;
  }
}
.b-popup .b-popup-content {
  position: fixed;
  text-align: center;
  z-index: 77;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -200px;
  width: 600px;
  height: 400px;
  padding: 10px;
  background-color: white;
  border: #dcb378 5px solid;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .b-popup .b-popup-content {
    width: 500px;
    margin-left: -250px;
  }
}
@media (max-width: 576px) {
  .b-popup .b-popup-content {
    width: 280px;
    height: 280px;
    margin-left: -140px;
  }
}
.modal-closed {
  width: 550px;
  text-align: right;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 40px;
  color: #dcb378;
}
.modal-closed a:hover {
  color: #b3d4fc;
}
@media (max-width: 768px) {
  .modal-closed {
    width: 450px;
  }
}
@media (max-width: 576px) {
  .modal-closed {
    width: 240px;
    margin-bottom: 10px;
  }
}
.modal-tel,
.modal-btn {
  width: 500px;
  height: 60px;
  margin-bottom: 50px;
  text-align: center;
  border: #dcb378 2px solid;
  font-family: Roboto;
  color: #787878;
  font-size: 17px;
  letter-spacing: 0;
}
.modal-tel:hover,
.modal-btn:hover {
  background: #b3d4fc;
  color: #dcb378;
  border-radius: 5px;
  box-shadow: 6px 10px 10px #679B00;
}
@media (max-width: 768px) {
  .modal-tel,
  .modal-btn {
    width: 450px;
  }
}
@media (max-width: 576px) {
  .modal-tel,
  .modal-btn {
    width: 240px;
    margin-bottom: 20px;
  }
}
.main-img {
  position: absolute;
  display: flex;
  top: 86px;
  right: 0;
  width: 999px;
}
@media (max-width: 1500px) {
  .main-img {
    /*width: 850px;*/
    width: 57%;
  }
}
@media (max-width: 1200px) {
  .main-img {
    top: 66px;
  }
}
@media (max-width: 768px) {
  .main-img {
    top: 40px;
  }
}
.main {
  background-image: url("../img/background-main.png");
  background-size: 100%  100%;
}
.main-img-background1 {
  background-image: url("../img/main_img1.png");
  background-size: 100%  100%;
  width: 59.65%;
  height: 759px;
}
@media (max-width: 1500px) {
  .main-img-background1 {
    height: 700px;
  }
}
@media (max-width: 1200px) {
  .main-img-background1 {
    height: 550px;
  }
}
@media (max-width: 992px) {
  .main-img-background1 {
    height: 433px;
  }
}
@media (max-width: 768px) {
  .main-img-background1 {
    height: 342px;
  }
}
.main-img-background2 {
  background-image: url("../img/main_img3.png");
  background-size: 100%  100%;
  width: 59.65%;
  height: 759px;
  margin-left: -31%;
}
@media (max-width: 1500px) {
  .main-img-background2 {
    height: 700px;
  }
}
@media (max-width: 1200px) {
  .main-img-background2 {
    height: 550px;
  }
}
@media (max-width: 992px) {
  .main-img-background2 {
    height: 433px;
  }
}
@media (max-width: 768px) {
  .main-img-background2 {
    height: 342px;
  }
}
.main-img-background3 {
  background-image: url("../img/main_img2.png");
  background-size: 100%  100%;
  width: 43.74%;
  height: 759px;
  margin-left: -31%;
}
@media (max-width: 1500px) {
  .main-img-background3 {
    height: 700px;
  }
}
@media (max-width: 1200px) {
  .main-img-background3 {
    height: 550px;
  }
}
@media (max-width: 992px) {
  .main-img-background3 {
    height: 433px;
  }
}
@media (max-width: 768px) {
  .main-img-background3 {
    height: 342px;
  }
}
.main-img-margin {
  /*margin-left: -315px;*/
  margin-left: -31.5%;
}
@media (max-width: 1224px) {
  .main-img-margin {
    margin-left: -45%;
  }
}
.main-content {
  /*width: 670px;*/
  width: 57%;
  padding-top: 187px;
  text-align: left;
}
@media (max-width: 1500px) {
  .main-content {
    padding-top: 157px;
  }
}
@media (max-width: 1200px) {
  .main-content {
    padding-top: 68px;
  }
}
@media (max-width: 992px) {
  .main-content {
    padding-top: 48px;
  }
}
@media (max-width: 768px) {
  .main-content {
    padding-top: 10px;
  }
}
.main-content h1 {
  margin-bottom: 26px;
  font-family: Roboto-bold;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 48px;
  color: #000000;
}
.main-content h1 span {
  color: #ddb379;
}
@media (max-width: 1500px) {
  .main-content h1 {
    width: 650px;
  }
}
@media (max-width: 1200px) {
  .main-content h1 {
    width: 550px;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 18px;
  }
}
@media (max-width: 992px) {
  .main-content h1 {
    width: 450px;
    font-size: 26px;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .main-content h1 {
    width: 360px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
  }
}
.main-content a {
  text-decoration: none;
  display: block;
  width: 263px;
  height: 65px;
  padding-top: 25px;
  padding-left: 28px;
  margin-bottom: 71px;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0;
  background: #c6a16e;
  color: #ffffff;
}
@media (max-width: 1500px) {
  .main-content a {
    margin-bottom: 50px;
  }
}
@media (max-width: 1200px) {
  .main-content a {
    font-size: 14px;
    margin-bottom: 30px;
    width: 250px;
    height: 50px;
    padding-top: 18px;
    padding-left: 36px;
  }
}
@media (max-width: 768px) {
  .main-content a {
    width: 170px;
    height: 30px;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 9px;
  }
}
.main-content p {
  font-family: Roboto;
  width: 590px;
  margin-bottom: 40px;
  font-size: 17px;
  line-height: 32px;
  font-weight: 500;
  color: #5b5b5b;
}
.main-content p span {
  color: #a0a0a0;
}
@media (max-width: 1200px) {
  .main-content p {
    width: 470px;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 13px;
  }
}
@media (max-width: 992px) {
  .main-content p {
    width: 410px;
    line-height: 22px;
  }
}
@media (max-width: 768px) {
  .main-content p {
    font-size: 12px;
    line-height: 18px;
    width: 310px;
  }
}
.main-content .footnote {
  color: #a0a0a0;
  font-size: 20px;
  vertical-align: super;
}
.main-line {
  width: 98px;
  height: 2px;
  margin-bottom: 23px;
  background: #ddb379;
}
@media (max-width: 768px) {
  .main-line {
    margin-bottom: 15px;
  }
}
.forms {
  background-image: url("../img/background.png");
  background-size: 100%  100%;
  height: 689px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 65px;
}
@media (max-width: 1200px) {
  .forms {
    margin-top: 0;
  }
}
@media (max-width: 992px) {
  .forms {
    padding-top: 40px;
    height: 480px;
  }
}
@media (max-width: 768px) {
  .forms {
    padding-top: 20px;
    height: 500px;
  }
}
.section-forms-text1 {
  font-family: Roboto-bold;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
}
@media (max-width: 992px) {
  .section-forms-text1 {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 768px) {
  .section-forms-text1 {
    font-size: 18px;
    line-height: 24px;
  }
}
.section-forms-line {
  width: 98px;
  height: 2px;
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 49px;
  background: #ddb379;
}
@media (max-width: 992px) {
  .section-forms-line {
    margin-top: 8px;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .section-forms-line {
    margin-bottom: 10px;
  }
}
form {
  width: 390px;
  padding: 0 14.5px 0 14.5px;
}
@media (max-width: 992px) {
  form {
    width: 360px;
  }
}
@media (max-width: 768px) {
  form {
    width: 390px;
  }
}
.form-control {
  border: white 1px solid;
  height: 65px;
  background: none;
  border-radius: 0;
  color: #787878;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .form-control {
    height: 45px;
  }
}
@media (max-width: 768px) {
  .form-control {
    height: 35px;
    margin-bottom: 15px;
  }
}
.form-control-number {
  width: 165px;
}
@media (max-width: 992px) {
  .form-control-number {
    width: 150px;
  }
}
@media (max-width: 768px) {
  .form-control-number {
    width: 165px;
  }
}
.form-btn {
  width: 748px;
  height: 65px;
  margin-top: 3px;
  background: #ddb379;
  font-family: Roboto;
  color: white;
  font-size: 17px;
  outline: none !important;
  box-shadow: none;
}
@media (max-width: 992px) {
  .form-btn {
    width: 688px;
    height: 45px;
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .form-btn {
    width: 360px;
  }
}
::-webkit-input-placeholder {
  font-family: Roboto;
  text-align: center;
  color: #787878;
  font-size: 17px;
  letter-spacing: 0;
}
@media (max-width: 992px) {
  ::-webkit-input-placeholder {
    font-size: 15px;
  }
}
::-moz-placeholder {
  font-family: Roboto;
  text-align: center;
  color: #787878;
  font-size: 17px;
  letter-spacing: 0;
}
@media (max-width: 992px) {
  ::-moz-placeholder {
    font-size: 15px;
  }
}
/* Firefox 19+ */
:-moz-placeholder {
  font-family: Roboto;
  text-align: center;
  color: #787878;
  font-size: 17px;
  letter-spacing: 0;
}
@media (max-width: 992px) {
  :-moz-placeholder {
    font-size: 15px;
  }
}
/* Firefox 18- */
:-ms-input-placeholder {
  font-family: Roboto;
  text-align: center;
  color: #787878;
  font-size: 17px;
  letter-spacing: 0;
}
@media (max-width: 992px) {
  :-ms-input-placeholder {
    font-size: 15px;
  }
}
.select-arrow {
  position: relative;
}
.select-arrow-img {
  right: 20px;
  top: 14px;
  position: absolute;
}
@media (max-width: 768px) {
  .select-arrow-img {
    top: 10px;
  }
}
.selected-ctyle {
  font-family: Roboto;
  color: #787878;
  font-size: 17px;
  letter-spacing: 0;
}
/*About us*/
.about-us {
  height: 685px;
  padding-top: 97px;
}
@media (max-width: 992px) {
  .about-us {
    padding-top: 60px;
    height: 560px;
  }
}
@media (max-width: 768px) {
  .about-us {
    padding-top: 30px;
    height: 410px;
  }
}
.about-us h2 {
  margin-bottom: 13px;
  font-family: Roboto-bold;
  font-size: 40px;
  color: #000000;
}
@media (max-width: 992px) {
  .about-us h2 {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .about-us h2 {
    font-size: 24px;
  }
}
.about-us-line {
  width: 98px;
  height: 2px;
  margin-bottom: 60px;
  background: #ddb379;
}
@media (max-width: 768px) {
  .about-us-line {
    margin-bottom: 40px;
  }
}
.carousel-container {
  display: flex;
}
.carousel-img {
  padding-right: 103px;
  padding-left: 60px;
  width: 50%;
}
@media (max-width: 992px) {
  .carousel-img {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.carousel-img img {
  width: 417px;
  height: 230px;
}
@media (max-width: 768px) {
  .carousel-img img {
    height: 200px;
  }
}
.carousel-text {
  width: 50%;
  padding-top: 36px;
}
@media (max-width: 768px) {
  .carousel-text {
    padding-top: 0;
  }
}
.carousel-text h3 {
  margin-bottom: 20px;
  font-family: Roboto-bold;
  font-size: 21px;
  color: #000000;
}
@media (max-width: 992px) {
  .carousel-text h3 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .carousel-text h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.carousel-text p {
  width: 535px;
  text-align: justify;
  font-family: Roboto;
  font-size: 17px;
  line-height: 25px;
}
@media (max-width: 1200px) {
  .carousel-text p {
    width: 90%;
  }
}
@media (max-width: 992px) {
  .carousel-text p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .carousel-text p {
    font-size: 12px;
    line-height: 18px;
  }
}
.carousel-text-margin {
  padding-left: 60px;
}
@media (max-width: 992px) {
  .carousel-text-margin {
    padding-left: 20px;
  }
}
@media (max-width: 768px) {
  .carousel-text-margin {
    padding-left: 10px;
  }
}
.carousel-control-container {
  display: flex;
  justify-content: center;
  padding-top: 44px;
}
@media (max-width: 768px) {
  .carousel-control-container {
    padding-top: 20px;
  }
}
.arrow-left,
.arrow-right {
  width: 174px;
  height: 60px;
  padding-top: 20px;
  padding-left: 60px;
}
@media (max-width: 992px) {
  .arrow-left,
  .arrow-right {
    width: 120px;
    height: 40px;
    padding-top: 12px;
    padding-left: 40px;
  }
}
@media (max-width: 768px) {
  .arrow-left,
  .arrow-right {
    padding-top: 7px;
  }
}
@media (max-width: 768px) {
  .arrow-left,
  .arrow-right {
    height: 30px;
  }
}
.arrow-left img,
.arrow-right img {
  display: block;
  width: 53px;
}
@media (max-width: 992px) {
  .arrow-left img,
  .arrow-right img {
    width: 43px;
  }
}
.arrow-left {
  border: #e4e4e4 1px solid;
  margin-right: 6px;
}
.arrow-right {
  margin-left: 6px;
  background: #DCB378;
}
.carousel-line {
  /*width: 1140px;*/
  width: 100%;
  margin-top: 32px;
  height: 2px;
  background: #e1e1e1;
}
@media (max-width: 768px) {
  .carousel-line {
    margin-top: 20px;
  }
}
footer {
  height: 104px;
  background: #1d2234;
  font-family: OpenSans;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
}
@media (max-width: 1200px) {
  footer {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  footer {
    height: 90px;
  }
}
@media (max-width: 768px) {
  footer {
    font-size: 12px;
  }
}
.footer-text {
  text-align: right;
}
.footer-logo {
  margin-left: 12px;
  text-align: right;
}
@media (max-width: 768px) {
  .footer-logo {
    width: 40px;
  }
}
/*# sourceMappingURL=styles.css.map */