
*, div {
  box-sizing: border-box;
}
body {
  width: 100%;
}
a {
  text-decoration: none;
}
* {
  cursor: default;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto.ttf");
}
@font-face {
  font-family: Roboto-bold;
  src: url("../fonts/Roboto-bold.ttf");
}
@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans.ttf");
}
.main-container {
  margin: 0 auto;
  /*width: 1172px;*/
  @media(min-width: 1800px){
    width: 1172px;
  }
  width: 90%;

}
header {
  height: 86px;
}
.header-line {
  position: absolute;
  top: 86px;
  width: 100%;
  height: 3px;
  background: #dcb378;
}
.header-logo {
  width: 263px;
  margin-top: 3px;
  margin-right: 60px;
}
.nav {
  width: 693px;
  a {
    font-family: Roboto;
    color: #5b5b5b;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0;
  }
}
.header-phone {
  a {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
  }
}
.header-modal {
  a {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #c6a16e;
    text-decoration: none;
  }
}
.main-img {
  position: absolute;
  display: flex;
  top: 86px;
  right: 0;
  width: 999px;
  @media (max-width: 1224px){
    /*width: 600px;*/
    width: 100%;
    opacity: 0.4;
  }
   border: #6610f2 1px solid;
  /*height: 759px;*/
}
.main {
  background-image: url("../img/background-main.png");
  background-size: 100%  100%;
}
.main-img-background1 {

  background-image: url("../img/main_img1.png");
  background-size: 100%  100%;
  width: 59.65%;
  height: 759px;

}
.main-img-background2 {
  background-image: url("../img/main_img3.png");
  background-size: 100%  100%;
  width: 59.65%;
  height: 759px;
  margin-left: -31%;

}
.main-img-background3 {
  background-image: url("../img/main_img2.png");
  background-size: 100%  100%;
  width: 43.74%;
  height: 759px;
  margin-left: -31%;

}
.main-img-margin {
  /*margin-left: -315px;*/
  margin-left: -31.5%;
  @media (max-width: 1224px){
    margin-left: -45%;
  }
}

.main-content {
  /*width: 670px;*/
  width: 57%;
  padding-top: 187px;
  text-align: left;
  h1 {
    margin-bottom: 26px;
    font-family: Roboto-bold;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 48px;
    color: #000000;
    span {
      color: #ddb379;
    }
  }
  a {
    display: block;
    width: 263px;
    height: 65px;
    padding-top: 25px;
    padding-left: 28px;
    margin-bottom: 71px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    background: #c6a16e;
    color: #ffffff;
  }
  p {
    font-family: Roboto;
    width: 590px;
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 32px;
    font-weight: 500;
    color: #5b5b5b;
    span {
      color: #a0a0a0;
    }
  }
}
.main-line {
  width: 98px;
  height: 2px;
  margin-bottom: 23px;
  background: #ddb379;
}
.forms {
  background-image: url("../img/background.png");
background-size: 100%  100%;
  height: 689px;
  margin-top: 10px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 65px;
}
.section-forms-text1 {
  font-family: Roboto-bold;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
}
.section-forms-line {
  width: 98px;
  height: 2px;
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 49px;
  background: #ddb379;
}
form {
  width: 390px;
  padding: 0 14.5px 0 14.5px;
}
.form-control {
  border: white 1px solid;
  height: 65px;
  background: none;
  border-radius: 0;
  color: #787878;
  margin-bottom: 24px;
}
.form-control-number {
  width: 165px;
}
.form-btn {
  width: 748px;
  height: 65px;
  margin-top: 3px;
  background: #ddb379;
  font-family: Roboto;
  color: white;
  font-size: 17px;
  outline: none !important;
   box-shadow: none;
}
::-webkit-input-placeholder {
  font-family: Roboto;
  text-align: center;
  color:#787878;
  font-size: 17px;
  letter-spacing: 0;
}
::-moz-placeholder {
  font-family: Roboto;
  text-align: center;
  color:#787878;
  font-size: 17px;
  letter-spacing: 0;
}/* Firefox 19+ */
:-moz-placeholder {
  font-family: Roboto;
  text-align: center;
  color:#787878;
  font-size: 17px;
  letter-spacing: 0;
}/* Firefox 18- */
:-ms-input-placeholder {
 font-family: Roboto;
  text-align: center;
  color:#787878;
  font-size: 17px;
  letter-spacing: 0;
}
.about-us {
  height: 685px;
  padding-top: 97px;
  h2 {
    margin-bottom: 13px;
    font-family: Roboto-bold;
    font-size: 40px;
    color: #000000;
  }
}
.about-us-line {
  width: 98px;
  height: 2px;
  margin-bottom: 60px;
  background: #ddb379;
}
.carousel-container {
  display: flex;
}
.carousel-img {
  padding-right: 103px;
  padding-left: 60px;
  width: 50%;
  img {
    width: 417px;
    height: 230px;
  }
}
.carousel-text {
  width: 50%;
  padding-top: 36px;
  h3 {
    margin-bottom: 20px;
    font-family: Roboto-bold;
    font-size: 21px;
    color: #000000;
  }
  p {
    width: 535px;
    text-align: left;
    font-family: Roboto;
    font-size: 17px;
    line-height: 25px;
  }
}
.carousel-text-margin {
  padding-left: 60px;
}
.carousel-control-container {
  display: flex;
  justify-content: center;
  padding-top: 44px;
}
.arrow-left, .arrow-right {
  width: 174px;
  height: 60px;
  padding-top: 20px;
  padding-left: 60px;
  img {
    display: block;
    width: 53px;
  }
}
.arrow-left {
  border: #e4e4e4 1px solid;
  margin-right: 6px;
}
.arrow-right {
  margin-left: 6px;
  background: #DCB378;
}
.carousel-line {
  width: 1140px;
  margin-top: 32px;
  height: 2px;
  background: #e1e1e1;
}
footer {
  height: 104px;
  background: #1d2234;
  font-family: OpenSans;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
}
.footer-text {
  text-align: right;
}
.footer-logo {
  background: #00ccff;
  margin-left: 12px;
  text-align: right;
}